.container {
  max-width: 500px;
  margin-left: 15%;
}

.title {
  max-width: 600px;
  color: var(--gray12);
  font-weight: 400;
  font-size: var(--font25);
  line-height: 32px;
  margin-bottom: 20px;
}

.radioContentContainer {
  width: 100% !important;
}
