.container {
  position: relative;
  padding: 135px 0 115px;
  background-color: var(--white);
  overflow: hidden;
}

.wrapper {
  position: relative;
  z-index: 1;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  font-size: var(--font50);
  font-weight: 700;
  line-height: 69px;
  text-align: center;
  color: var(--gray11);
  margin-bottom: 95px;
}

.card {
  margin: 10px;
  width: 100%;
  max-width: 320px;
}

.mask {
  position: absolute;
  right: 0;
  bottom: -600px;
  width: 550px;
}

@media only screen and (max-width: 992px) {
  .container {
    padding: 80px 0 90px;
  }

  .title {
    line-height: 50px;
    margin-bottom: 40px;
  }

  .mask {
    bottom: -400px;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    padding: 80px 0 50px;
  }

  .title {
    font-size: var(--font35);
    margin-bottom: 50px;
  }

  .mask {
    bottom: 0px;
  }
}
