.container {
  background-image: url("../../assets/images/pricing.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 120px 30px 80px;
  display: grid;
}

.title,
.periodWrapper {
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 28px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 30px;
}

.popular {
  float: right;
  border-radius: 13.5px;
  background: #fff;
  margin-bottom: 20px;
  padding: 7px 18px;
  color: #3f65e4;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.833px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.periodWrapper {
  margin-bottom: 70px;
}

.period {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.plans {
  border-radius: 26px;
  border: 1px solid #cad5f8;
  background: #fff;
  max-width: 940px;
  max-height: 480px;
  justify-self: center;
  padding: 40px 50px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 100px;
}

.plan {
  display: block;
}

.plan .price {
  color: #231d4f;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 10px;
}

.plan .price span {
  color: #848199;
  font-size: 17px;
  font-weight: 700;
  line-height: normal;
}

.plan .saving {
  color: #00b200 !important;
  font-size: 17px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.plan .title {
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  margin-bottom: 20px;
}

.plan .list {
  display: grid;
  gap: 10px;
  margin-bottom: 30px;
}

.plan .listItem {
  display: grid;
  grid-template-columns: auto 1fr;
  -moz-column-gap: 5px;
  column-gap: 5px;
  align-items: center;
}

.plan .listItem > p {
  color: #848199;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.active {
  position: relative;
  border-radius: 26px;
  background: #10084e;
  box-shadow: 0px 42px 34px 0px rgba(139, 168, 211, 0.3);
  transform: translate(0, -70px);
  padding: 20px 30px;
}

.active {
  display: block;
}

.active .price,
.active .price span,
.active .title,
.active .listItem > p {
  color: white !important;
}

.note {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .container {
    padding: 100px 20px 40px;
  }

  .active {
    border-radius: 26px;
    transform: none;
    padding: 20px 15px;
  }

  .periodWrapper {
    margin-bottom: 70px;
  }

  .plans {
    max-width: initial;
    max-height: initial;
    padding: 30px 20px 10px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
  }
}
