.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imageContainer {
  overflow: hidden;
}

.img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.rateContainer {
  flex-direction: row;
  display: flex;
}

.text {
  margin: 0;
  color: var(--gray11);
  align-self: center;
}

.rateText {
  margin-left: 6px;
}
