.container {
  position: relative;
  height: 100vh;
  background-color: var(
    --white
  ); /* For browsers that do not support gradients */
  background-image: linear-gradient(var(--blue11), var(--blue11-transparent));
  padding-top: 35px;
  overflow: hidden;
}

.wrapper {
  height: inherit;
}

.logo {
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 10;
}

.formContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  align-content: center;
  background: var(--white);
  box-shadow: 0px 0px 15px rgba(54, 74, 103, 0.16);
  border-radius: 20px;
  padding: 36px 43px 56px;
  width: 100%;
  max-width: 370px;
  z-index: 10;
}

.iconContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
}

.dots {
  position: absolute;
  right: 23%;
  bottom: 7%;
}

.title {
  text-align: center;
}

.description {
  text-align: center;
  color: var(--black);
}

@media only screen and (max-width: 576px) {
  .wrapper {
    height: initial;
  }

  .logo {
    position: relative;
  }

  .formContainer {
    position: relative;
    top: initial;
    left: initial;
    transform: initial;
    padding: 25px 15px;
    margin: 30px auto 0;
  }

  .dots {
    right: 25%;
    bottom: -70px;
  }
}
