.container {
  max-width: 600px;
  margin-left: 15%;
}

.title {
  color: var(--gray12);
  font-weight: 400;
  font-size: var(--font28);
  line-height: 35px;
  margin-bottom: 15px;
}

.checkbox {
  color: var(--gray11);
}
