.questionSubClass {
  align-content: flex-start;
}

.marginBottom {
  margin-bottom: 10px;
}

.subTitle {
  font-size: var(--font16);
  font-weight: 700;
  color: var(--black2);
}

.img {
  margin-right: 10px;
}

.additionalInfo {
  color: var(--gray9);
  display: block;
}

.notesTitle {
  color: var(--blue12);
}

@media only screen and (max-width: 992px) {
  .questionContainer {
    grid-template-columns: auto;
  }
}
