.container {
  position: relative;
  background-color: var(--white);
  padding: 50px 0 100px;
  overflow: hidden;
}

.title {
  color: #101840;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0.2px;
  margin: 0;
}

.subtitle {
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 20px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.listItem {
  position: relative;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(39, 82, 166, 0.15);
  width: 100%;
  max-width: 320px;
  margin: 16px;
  min-height: 200px;
  padding: 15px 25px;
  display: grid;
  gap: 20px;
  justify-items: center;
  align-content: center;
  text-align: center;
}

.listItem > span {
  position: absolute;
  top: 12px;
  left: 12px;
  color: rgba(0, 50, 218, 0.05);
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media only screen and (max-width: 576px) {
  .title {
    font-size: 35px;
    line-height: 45px;
  }

  .subtitle {
    font-size: 30px;
    line-height: 35px;
  }
}
