.sectionContainer {
  position: relative;
  background-color: var(
    --white
  ); /* For browsers that do not support gradients */
  background-image: linear-gradient(
    var(--blue11),
    var(--blue11-transparent) 50%
  );
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin-top: 150px;
  margin-bottom: 20px;
}

.title {
  font-weight: 700;
  font-size: var(--font50);
  color: var(--gray11);
}

.ulNoStyle {
  list-style-type: none;
}

.description {
  max-width: 700px;
  font-weight: 400;
  font-size: var(--font16);
  color: var(--black);
}

.boldText {
  font-weight: 600;
}

.trContainer {
  border: 1px solid black;
}

.tdContainer {
  border-collapse: collapse;
  white-space: pre-line;
  width: 50%;
}

@media only screen and (max-width: 576px) {
  .container {
    margin-top: 120px;
  }

  .title {
    font-size: var(--font35);
  }
}
