.container {
  display: grid;
  grid-template-columns: auto auto;
  -moz-column-gap: 25px;
  column-gap: 25px;
  margin-bottom: 20px;
}

.subContainer {
  display: flex;
  flex-direction: column;
}

.marginBottom {
  margin-bottom: 20px;
}

.title {
  font-weight: 500;
}

.questionSubClass {
  align-content: flex-start;
}

.additionalInfo {
  color: var(--gray9);
  display: block;
  white-space: pre-line;
}

.questionContainer {
  grid-template-columns: auto;
}
.inlineText {
  display: flex; /* Aligns items in a row */
  align-items: center; /* Ensures vertical alignment */
  gap: 4px; /* Adds a small gap between text and * */
  font-size: 16px; /* Adjust based on your design */
}

.additionalInfo {
  font-weight: bold; /* Make it stand out */
  color: #555; /* Slightly darkened text */
}

.requiredSymbol {
  color: red;
  font-size: 18px;
  font-weight: bold;
  margin-left: 4px; /* Ensures spacing from the text */
}
